* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.registraction-body {
    display: flex;
    justify-content: center;
    text-align: center;
}

/*Form-Container Css*/

.registraction-body {
    background-image: url(/assests/images/chef-reg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    min-height: 70vh;
    color: white;
    padding: 5rem 2rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
}

.registraction-body form {
    background: rgba(39, 39, 39, 0.6);
    padding: 4rem 3rem;
    max-width: 500px;
    border-radius: 20px;
}

/*JoinUs heading*/
.join {
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    padding-bottom: 2rem;
}

/*create account heading*/
.create {
    font-size: 1rem;
    font-style: italic;
    font-weight: 300;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border: 2px solid #ff5252 !important;
    border-radius: 10px !important;
    background: rgba(255, 255, 255, 0.1);
    color: white;
}

/*Placing icons before placeholders*/
input[type="text"] {
    background: url('/assests/images/user.svg') no-repeat 10px center;
    color: white;
    background-size: 16px 16px;
    padding-left: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="password"] {
    background: url('/assests/images/password.svg') no-repeat 10px center;
    background-size: 16px 16px;
    padding-left: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="email"] {
    background: url('/assests/images/sms.svg') no-repeat 10px center;
    background-size: 16px 16px;
    padding-left: 2rem;
    border: 1px solid white;
    border-radius: 5px;
}

input::placeholder {
    color: #ddd;
}

.input-group {
    display: flex;
    gap: 0.5rem;
}

button {
    width: 100%;
    padding: 0.8rem;
    background-color: #f12727;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff3b3b;
}

.captcha {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    margin-block: 1rem;
    text-align: center;
}

a {
    color: #ff0000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}